body {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2em;
	color: #0E0E0E;
	-webkit-font-smoothing: antialiased;
	background-image: url("background.jpg");
}
h1 {
	font-family: 'Cookie', cursive;
	font-size: 10em;
	letter-spacing: 0.1em;
}
div {
	background-color: rgba(242, 242, 242, 0.6);
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border: 8px solid #0E0E0E;
}
.shopping-list {
	max-width: 40em;
	margin: 0 auto;
}
input[type="text"] {
	background-color: #0E0E0E;
	color: #F2F2F2;
	border: 1px solid #0E0E0E;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width: 20em;
	padding: 0.2em;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
}
.item-bought, .item {
	background-color: #F2F2F2;
	color: #0E0E0E;
	width: 20em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	list-style-type: none;
	padding: 0.2em;
}
.item-bought {
	text-decoration: line-through;
}
.footer {
	padding-top: 4px;
}
h3 {
	font-size: 1em;
}
a, a:visited {
	text-decoration: none;
	color: #0E0E0E;
}
a:hover {
	color: #404040;
}
button {
	background-color: #F2F2F2;
	color: #0E0E0E;
	border: 1px solid #F2F2F2;
	font-size: 1em;
	padding: 1px;
}
.done {
	float: left;
	padding-top: 1px;
}
.remove {
	float: right;
	padding-top: 1px;
}